src/main/mule/mongo-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <apikit:config name="mongo-sapi-config" api="mongo-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <tls:context name="TLS_Context" doc:name="TLS Context" doc:id="af9af36d-6b6a-4892-b2ca-77161b31dd80" >
		<tls:key-store type="jks" path="${secure::key.path}" alias="${secure::key.alias}" keyPassword="${secure::key.pass}" password="${secure::key.pass}" />
	</tls:context>
	<http:listener-config name="HTTPS_Listener_config" doc:name="HTTP Listener config" doc:id="ec104362-1dc8-44f0-81f3-bf74595084a3" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="${secure::http.port}" tlsContext="TLS_Context" />
	</http:listener-config>
	<flow name="mongo-sapi-main">
        <http:listener config-ref="HTTPS_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mongo-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Bad request",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Resource not found",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mongo-sapi-console">
        <http:listener config-ref="HTTPS_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mongo-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\mongo\(collection)\(id):mongo-sapi-config">
		<flow-ref doc:name="Set Variables" doc:id="bf78da41-bb50-45f7-96f1-9aea930cbec1" name="setVariables"/>
		<mongo:collection-exists collectionName="#[vars.collection]" doc:name="Collection exists" doc:id="aca0d05c-743c-40ab-b253-b7106b14c12f" config-ref="MongoDB_Config"/>
		<choice doc:name="Choice" doc:id="86152dd5-c52a-4383-9029-9775b25cf38c" >
			<when expression="#[payload == true]">
				<ee:transform doc:name="Set Query" doc:id="47fa7aef-f16d-43ee-a134-878e6e36d587" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"_id" : {
		"\$oid" : vars.id
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="ff862ed6-40b0-4b25-a5a9-d923d65943f0" >
					<mongo:remove-documents doc:name="Remove documents" doc:id="b4b72a33-2dec-419b-91a4-e0255d510935" config-ref="MongoDB_Config" collectionName="#[vars.collection]">
						<mongo:query ><![CDATA[#[payload]]]></mongo:query>
					</mongo:remove-documents>
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6ea4b230-716b-4e05-9cda-80cf3b928d70" >
							<raise-error doc:name="Raise error" doc:id="18bb8135-139a-4d7b-b492-3c9517a854b6" type="CUSTOM:FIND"/>
						</on-error-propagate>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<flow-ref doc:name="Collection Not Found" doc:id="0758d416-4240-4382-b751-ea55eb55315d" name="collectionNotFound"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="bf698cf0-3136-4d30-8de5-dbd4c95abc84" >
			<when expression="#[payload == 1]">
				<ee:transform doc:name="Transform Message" doc:id="9ade4491-5561-4d4a-b299-2d3fedc60e1a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Documento eliminado."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="0c47b4c7-6944-450f-86b8-61bffa4097b4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se elimino ningun documento. Revise la informacion ingresada."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="6f758106-40a4-4002-84b7-21b3095e6d93" variableName="httpStatus"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Remove Variables" doc:id="87f08750-e4c3-4bb7-bc9c-47ecb83b6c43" name="removeVariables"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c35d5e78-af23-412c-8b12-8c692af54868" type="CUSTOM:FIND">
				<ee:transform doc:name="Transform Message" doc:id="caf53f9b-8bb9-494f-a7b7-e8a32b0b1924" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al buscar el documento.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="ca0bb305-7f55-46d7-ac9a-d6e95a379af2" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="15a26b6b-4eef-4fe2-bf56-11aa4fa78f28" >
				<ee:transform doc:name="Transform Message" doc:id="bb40467c-0ed2-481b-9e26-007389906957" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="patch:\mongo\(collection)\(id):application\json:mongo-sapi-config">
		<flow-ref doc:name="Set Variables" doc:id="82bacc15-7501-4c63-863c-93522eeeb723" name="setVariables"/>
		<mongo:collection-exists doc:name="Collection exists" doc:id="795381e4-ab91-471d-852a-62598ef4cc9c" config-ref="MongoDB_Config" collectionName="#[vars.collection]"/>
		<choice doc:name="Choice" doc:id="aa87fe9e-b22d-44d8-a1b5-3aa47735d6a8" >
			<when expression="#[payload == true]">
				<ee:transform doc:name="Set Query" doc:id="847b877c-b837-4253-9481-03ccaffa634a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"_id" : {
		"\$oid" : vars.id
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="5445c538-6d5e-495a-84b2-69aeb4cc7944" >
					<mongo:update-documents doc:name="Update documents" doc:id="0257ce1f-fcb9-4aa8-9b53-a1cd65470bfc" config-ref="MongoDB_Config" collectionName="#[vars.collection]">
						<mongo:query ><![CDATA[#[payload]]]></mongo:query>
						<mongo:content-to-update ><![CDATA[#[vars.doc]]]></mongo:content-to-update>
					</mongo:update-documents>
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3fd3b006-fde3-4c16-b007-80da133cfb1d" >
							<raise-error doc:name="Raise error" doc:id="0450024f-c669-44c8-a8d4-89e500836685" type="CUSTOM:FIND"/>
						</on-error-propagate>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<flow-ref doc:name="Collection Not Found" doc:id="7e9cde9d-3792-4851-8610-458f3a2b636f" name="collectionNotFound"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="2dc6323d-c486-4d08-94b6-02abd707ce27" >
			<when expression="#[payload.modified &gt;= 1]">
				<ee:transform doc:name="Return Response" doc:id="6c8d1246-83b4-4376-a9cc-8f4c6fe54b98">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Se actualizo el documento."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<set-variable value="200" doc:name="Set Status" doc:id="58cc0988-cfc9-4cb7-b8fd-ca24053d8403" variableName="httpStatus"/>
			</when>
			<when expression="#[payload.matched &gt; 0 and payload.modified &lt; 1]">
				<ee:transform doc:name="Transform Message" doc:id="98073373-5d4f-4269-9c21-4a21cda2c871" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron cambios a realizar en el documento."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="Set Status" doc:id="cbeb7ca4-0384-4d68-a76b-15301e69ce8d" variableName="httpStatus"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="196b1c53-d181-40d1-802d-900e6167336f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontro el documento."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="35a5683c-74f9-4043-9f3a-cd365c68a957" variableName="httpStatus" />
			</otherwise>
		</choice>
		<flow-ref doc:name="Remove Variables" doc:id="3ef473dc-f8b8-4094-b480-c633e9e30241" name="removeVariables"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2cba6a77-23d2-4c57-9236-c8a38a8a4c99" type="CUSTOM:FIND">
				<ee:transform doc:name="Transform Message" doc:id="eadbfe62-e4fd-4611-98b1-4b286a9fa65d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al obtener el documento."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="1d38922f-dcc8-4560-83b4-8a5deefa2cba" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="eacbf3e6-e9ff-45ff-aeb2-cff55cfff84d" >
				<ee:transform doc:name="Transform Message" doc:id="fcb358d1-ef0d-4358-ac03-57d2da211582" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\mongo\(collection)\(id):mongo-sapi-config">
		<flow-ref doc:name="Set Variables" doc:id="35713d35-9b68-407d-8d00-fb9dec5a2ee4" name="setVariables"/>
		<mongo:collection-exists collectionName="#[vars.collection]" doc:name="Collection exists" doc:id="f6d4b82d-d616-4186-8c4f-b6fc3fbc04bc" config-ref="MongoDB_Config"/>
		<choice doc:name="Choice" doc:id="6f98c562-f385-4900-98a4-ec5395f87ff0" >
			<when expression="#[payload == true]">
				<ee:transform doc:name="Set Query" doc:id="8adebaeb-8837-420d-ae7a-608781a31e30">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"_id": {
		"\$oid": vars.id
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<try doc:name="Try" doc:id="cf325490-ffa5-4460-ac22-4f47177be0c8" >
					<mongo:find-documents collectionName="#[vars.collection]" fields="," doc:name="Find documents" doc:id="9abb7141-563f-4672-8cb2-5a02ca115a2c" config-ref="MongoDB_Config">
			<mongo:query><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
					<error-handler>
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="edab272e-09b7-4232-ac62-c1dd1275077a" >
							<raise-error doc:name="Raise error" doc:id="b920bbb9-745f-41bb-baf2-c11b5524d1fe" type="CUSTOM:FIND"/>
						</on-error-propagate>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<flow-ref doc:name="Collection Not Found" doc:id="667fd2a4-dea3-491f-a0e1-ce62ad15f3d3" name="collectionNotFound"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="3fae29e3-3b1b-4e1d-9860-73ad92988fab" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Docs Found" doc:id="ed1a3a16-3458-4cbd-b52a-045c0e6fda07">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Docs Not Found" doc:id="b869ef85-bd99-4edd-bf81-fbf46ef028a1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="84db31c1-b846-48bd-b1ee-94f81ad066da" variableName="httpStatus"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Remove Variables" doc:id="fb92ee74-dca2-4fde-a42b-a09074ad1c31" name="removeVariables"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c2a56b89-375f-4b55-b366-1064b2d86064" type="CUSTOM:FIND">
				<ee:transform doc:name="Transform Message" doc:id="a0ef43b3-ed36-483e-8e39-62d559d2a3f9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al obtener el documento.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="775731ef-9e5e-4b14-a8c8-c7fb00869969" variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b332cb89-17ca-4ec6-a230-df4b709858d4" >
				<ee:transform doc:name="Transform Message" doc:id="76074695-e92f-4578-99ba-e8c07d67cdab" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error desconocido.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\mongo\(collection):mongo-sapi-config">
		<set-variable value="#[attributes.uriParams.collection]" doc:name="Set Collection" doc:id="b822edc8-4c45-4da9-abac-01cc072b8882" variableName="collection"/>
		<mongo:collection-exists collectionName="#[vars.collection]" doc:name="Collection exists" doc:id="8d791881-d811-4ba1-9d8f-c32be8825b17" config-ref="MongoDB_Config"/>
		<choice doc:name="Choice" doc:id="0bed0bcb-2ee1-43ae-a290-89408a977645" >
			<when expression="#[payload == true]">
				<mongo:find-documents doc:name="Find documents" doc:id="49a84a00-51c4-4ad1-ac7f-691b91309b80" config-ref="MongoDB_Config" collectionName="#[vars.collection]" fields=","/>
				<ee:transform doc:name="Transform Message" doc:id="2bcf0e8b-7c7e-425e-bb6c-ceadf6fd8488" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	size : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<flow-ref doc:name="Collection Not Found" doc:id="97dcb6c9-c06a-4925-96f0-e894b74e859b" name="collectionNotFound"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Remove Variables" doc:id="e811e2b6-f34f-4e08-b5a3-480517ce7baf" name="removeVariables"/>
    </flow>
    <flow name="post:\mongo\(collection):application\json:mongo-sapi-config">
		<choice doc:name="Choice" doc:id="9d68fc99-d847-4220-97ea-41fc9627036d" >
			<when expression="#[sizeOf(payload) == 0]">
				<raise-error doc:name="Raise error" doc:id="bde95031-7201-4154-8ffa-c8f4a5f0bf49" type="VALIDATIONS:NULL"/>
			</when>
			<otherwise >
				<set-variable value="#[payload]" doc:name="Set Doc" doc:id="0d3d7195-f01c-4041-bd83-900435e267a8" variableName="doc" />
				<set-variable value="#[attributes.uriParams.collection]" doc:name="Set Collection" doc:id="a4f7651a-6376-444e-a6e1-519b0a2daf18" variableName="collection" />
			</otherwise>
		</choice>
		<mongo:collection-exists collectionName="#[vars.collection]" doc:name="Collection exists" doc:id="0edd1782-e279-4363-a585-e41f628cfd66" config-ref="MongoDB_Config"/>
		<choice doc:name="Choice" doc:id="8347fcd9-e91a-4539-a9bd-5904f2d191fa" >
			<when expression="#[payload == true]">
				<try doc:name="Try" doc:id="c910dde9-1b4c-4be4-a28c-e824eabaaa52" >
					<mongo:insert-document collectionName="#[vars.collection]" doc:name="Insert document" doc:id="436bb730-d12e-4c16-bd70-d539b7ee19a1" config-ref="MongoDB_Config">
					<mongo:document><![CDATA[#[vars.doc]]]></mongo:document>
				</mongo:insert-document>
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0f448693-8aab-44ec-a94e-7d33ea71edc1" >
							<raise-error doc:name="Raise error" doc:id="01babe02-9994-4c86-b9e7-b567fc82c061" type="CUSTOM:POST"/>
						</on-error-propagate>
					</error-handler>
				</try>
				<ee:transform doc:name="Transform Message" doc:id="8056e591-63a0-446e-8b21-774ba157791e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Se creo el documento."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<flow-ref doc:name="Collection Not Found" doc:id="fa07ba6c-d48e-4495-8a16-779eb913baaa" name="collectionNotFound"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Remove Variables" doc:id="604de3d7-8eec-4e07-ad8f-39566bb9bacd" name="removeVariables"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9755fd80-647b-4151-9bc6-b260d22471b6" type="VALIDATIONS:NULL">
				<ee:transform doc:name="Transform Message" doc:id="4bfd3897-9ed9-4d36-a4d6-8868f4c9b9e1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "El documento no puede estar vacio"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="ca8ccd7c-1676-4441-a55f-ae073666b7da" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="527cf14b-8c8e-4be5-9ede-b02fdfdc398f" type="CUSTOM:POST">
				<ee:transform doc:name="Transform Message" doc:id="0519ff3d-30ee-434e-9610-23c7136b9dc6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al crear el documento."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="edda247b-8b0b-456e-8dbd-b1008ecff84f" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9c5db571-a02e-43dd-8456-d7175f33cf66" >
				<ee:transform doc:name="Transform Message" doc:id="247d5e55-6da5-4078-8f2c-629f6149a2ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<sub-flow name="collectionNotFound" doc:id="3a741477-bdd5-44d9-9da0-380067426f69" >
		<mongo:list-collections doc:name="List collections" doc:id="4f19151e-6a2d-4574-baab-75a11a02c80d" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="124109b8-b50d-4ed7-8209-906f5626c2c5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Esta coleccion no existe.",
	availableCollections : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<set-variable value="404" doc:name="Set Status" doc:id="8877fbf8-74da-4497-8e92-5bae88b5a624" variableName="httpStatus" />
	</sub-flow>
	<sub-flow name="setVariables" doc:id="50bd1625-a3ed-4f7c-bbb5-013b5c2885e2" >
		<set-variable value="#[attributes.uriParams.collection]" doc:name="Set Collection" doc:id="61356a08-3aa5-49a2-acc2-53e2dd026c19" variableName="collection"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Id" doc:id="5f83b189-c6a9-4e7d-8711-c6b57e401dbf" variableName="id"/>
		<set-variable value="#[payload]" doc:name="Set Doc" doc:id="07058659-de31-4c7c-bd84-7d289437ce5a" variableName="doc"/>
	</sub-flow>
	<sub-flow name="removeVariables" doc:id="da9e85e9-7119-4628-bc40-6f15be9f7807" >
		<remove-variable doc:name="Remove Collection" doc:id="c3ee900a-c82b-453a-ae81-ff4093aedbf0" variableName="collection"/>
		<remove-variable doc:name="Remove Id" doc:id="2cc56815-dd64-4a24-91eb-bc300120bf51" variableName="id"/>
		<remove-variable doc:name="Remove Doc" doc:id="2e0f1477-c6cd-4943-9fd7-503b4bd00740" variableName="doc"/>
	</sub-flow>
</mule>
